# Dependencies
node_modules/
*/node_modules/

# Environment variables
.env
.env.*
!.env.example
apps/api/.env
apps/web/.env

# Build outputs
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
